.icon-container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #252525;
  top: 50px;
}

.degree::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  right: -18px;
  top: 10px;
}
